<div id="headerholder">
    <div id="header-home">
        <h1 class="home"><a href="/blog">AYER Blog</a></h1>
    </div>
    <div id="header-search">
        <div class="box">
            <input type="text" name="search-field" placeholder="Search" id="searchBox">
            <span id="searchMax"></span>
            <input type="number" min="1" id="searchCurr">
        </div>
    </div>
    <div id="header-links">
        <div class="link">
            <a href="https://vk.com/id50618372" target="_blank"><img src="/img/vk_link.png"></a>
        </div>
        <div class="link">
            <a href="https://www.facebook.com/andrii.yerzhykevych" target="_blank"><img src="/img/fb_link.png"></a>
        </div>
        <div class="link">
            <a href="https://www.instagram.com/a.yerzhyk/" target="_blank"><img src="/img/insta_link.png"></a>
        </div>
    </div>
</div>