<link rel="stylesheet" type="text/css" href="/stylesheets/leftbar.css">
<aside>
    <div class="profile-data">
        <img src="/img/my_foto.jpg"/>
        <p>Andrii Yerzhykevych</p>
    </div>
    <nav>
        <a href="/">Blog</a>
            <hr>
        <a href="/blog/new">Create New Post</a>
    </nav>
</aside>