<div id="content">
        <div id="leftbar">
            <div class="profile-data">
                <img src="/img/my_foto.jpg"/>
                <p>Andrii Yerzhykevych</p>
            </div>
            <div class="navbar">
                <a href="/">Blog</a>
                <hr class="nav-hr">
                <a href="/blog/new">Create New Post</a>
            </div>
        </div>